body {
    overflow-y: hidden;
}

html, body {
    height: 100%;
}

a,
.clickable {
	cursor: pointer;
}

.clickable:hover {
	opacity: .7;
}

.btn-hoverable {
	cursor: pointer;
	opacity: 0.4;
}

.plotpoints tr:hover .btn-hoverable,
.timeline-events li:hover .btn-hoverable,
a:hover .btn-hoverable,
a.btn-hoverable:hover {
	opacity: 1;
}

.noselect,
.box-title,
a,
.content-header *,
.plot *,
.logo,
.header {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.box.box-borderless {
	border:0;
    box-shadow: none;
}
.box-borderless > .box-header {
    padding: 10px 0;
}
.box-borderless > .box-body {
    padding: 0;
}

body .dygraphDefaultAnnotation {
	font-size: 10px;
	line-height: 16px;
	border-radius: 2px;
    border: 0;
    color: white !important;
	width: auto!important;
	max-width: 10em;
    padding: 2px 5px;
    line-height: 11px;
}
.editbox {
    background: #ddd;
    padding: 10px;
    margin: 0 -10px;
}
.formatDate {
    color: #999;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
}

@-webkit-keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    from, 50%, to {
        opacity: 1;
    }

    25%, 75% {
        opacity: 0;
    }
}

.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

.btn-disabled {
    pointer-events: none;
    opacity: 0.5;
}

.graph-annotation-overlay {
    position: absolute;
    top: 5px;
    bottom: 56px;
    left: 44px;
    right: 0;
    overflow: hidden;
}
.graph-annotation-overlay__zone {
    height: 200px;
    width: 30px;
    position: absolute;
    opacity: .5;
    z-index: 1;
}
.graph-annotation-overlay__zone:hover {
    opacity: .8;
}

.box-toolbar > * {
    padding: 0.4em;
    color: #5d5d5d;
    font-size: 90%;
}
.disabled {
    opacity: 0.3;
    pointer-events: none;
}

.placeholder.well-placeholder {
    width: 30%;
    position: absolute;
    top: 10px;
    left: 10px;
}

#page_start {
    position: relative;
    height: 100%;
}

.dygraph-legend {
    pointer-events: none;
}

#dygraph_container > div > input {
    transform: rotateY(180deg) rotate(-90deg);
}
